body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #355c7d;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

h1 {
    margin: 10px;
}

div {
    padding: 20px;
    margin: 10px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
    margin-top: 10px;
    display: block;
}

#flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}




