body {
    font-family: 'Jaro', sans-serif;
    background-color: #f4f4f9;
    color: #333333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #355c7d;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
}

h1 {
    margin: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-column {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-column img {
    max-width: 80%;
    margin-bottom: 20px;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
}

label {
    margin-top: 10px;
    display: block;
}

#flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.spacing {
    flex: 1;
}

* {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
